@font-face {
    font-family: BurbankBig;
    src: url("Fontes/BurbankBigCondensed/burbankbigcondensed_black.ttf");
}

body {
    margin: 0;
    background-color: #33aaff;
}

.paginatoda {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.livro {
    position: fixed;
    right: 25px;
    bottom: 155px;
    background-image: url("Fotos/penguinstyle.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
}

.livro:hover {
    background-image: url("Fotos/openpenguinstyle.png");
    cursor: pointer;
}

.revista {
    display: flex;
    height: 700px;
    width: 1135px;
    background-image: url("Fotos/paginaCATALOGO.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.lado_esquerdo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado_direito {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.produtos {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 430px;
    gap: 20px;
}

.linhaprods {
    display: flex;
    gap: 20px;
}

.roupinha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roupinha img {
    height: 120px;
    width: 120px;
}

.botbot {
    height: 38px;
    width: 130px;
    background-image: url("Fotos/botaoCOMPRAR.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #33aaff00;
    border: none;
    font-family: BurbankBig;
    font-size: 20px;
    color: #6c3703;
}

.botbot:hover {
    scale: 1.05;
    cursor: pointer;
}

.mudadorir {
    background-image: url("Fotos/abacatalogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 13px;
    bottom: 10px;
    width: 80px;
    height: 150px;
}

.mudadorir:hover {
    scale: 1.1;
    cursor: pointer;
}

.mudadorvoltar {
    background-image: url("Fotos/abacatalogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 6px;
    bottom: 10px;
    width: 80px;
    height: 150px;
    transform: scaleX(-1);
}

.mudadorvoltar:hover {
    scale: 1.1;
    cursor: pointer;
}

.xiscat {
    background-image: url("Fotos/XPenguin_Style.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 30px;
    height: 40px;
    width: 40px;
}

.xiscat:hover {
    scale: 1.1;
    cursor: pointer;
}

.caparevista {
    height: 680px;
    width: 525px;
    background-image: url("Fotos/Penguin_Style_April_2006.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.xiscata {
    background-image: url("Fotos/XPenguin_Style.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 30px;
    height: 50px;
    width: 50px;
}

.xiscata:hover {
    scale: 1.1;
    cursor: pointer;
}

#apertar {
    align-self: flex-end;
    height: 600px;
    width: 100%;
    cursor: pointer;
}

.lado_esquerdo h2 {
    margin: 0;
    font-family: BurbankBig;
    font-size: 40px;
    text-align: center;
    color: white;
}

#todascores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.linhade4 img {
    width: 100px;
    height: 100px;
}

.linhade4 img:hover {
    scale: 1.1;
    cursor: pointer;
}

#pinguimcolorido {
    width: 400px;
    margin-bottom: 60px;
}

.allpag {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trocador {
    height: 620px;
    width: 918px;
    position: relative;
}

#esqueleto {
    position: absolute;
    height: 100%;
    width: 100%;
}

#capture {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-top: 95px;
    position: absolute;
    background-color: transparent;
}

.positionpenguin {
    position: absolute;
    width: 100%;
    height: 100%;
}

#btn_ir {
    position: absolute;
    top: 502px;
    left: 812px;
    rotate: -180deg;
    width: 52px;
}

#btn_ir:hover {
    cursor: pointer;
    scale: 1.1;
}

#btn_voltar {
    position: absolute;
    top: 56px;
    left: 812px;
    width: 52px;
}

#btn_voltar:hover {
    cursor: pointer;
    scale: 1.1;
}

.itens {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    position: absolute;
    top: 60px;
    left: 434px;
}

.roupaicon:hover {
    cursor: pointer;
}

.pagint {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.37);
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 525px;
    height: 425px;
    background: #4173e8;
    background: radial-gradient(circle, rgba(65, 115, 232, 1) 0%, rgba(41, 106, 217, 1) 14%, rgba(17, 76, 143, 1) 100%);
    border-radius: 10px;
    border: 3px solid #003366;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}

#modal img {
    width: 125px;
}

#modal button {
    width: 150px;
    height: 75px;
    border-radius: 10px;
    border: 2px solid #27417e;
    background: #5aa4ed;
    background: linear-gradient(180deg, rgba(90, 164, 237, 1) 0%, rgba(9, 83, 153, 1) 46%, rgba(10, 93, 171, 1) 82%, rgba(96, 168, 235, 1) 100%);
    color: white;
    font-size: 20px;
}

#modal button:hover {
    scale: 0.970;
    cursor: pointer;
}

#modal h2 {
    font-family: BurbankBig;
    font-size: 30px;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
}

#botoes {
    display: flex;
    gap: 10px;
}

#modalerro {
    width: 500px;
    height: 375px;
    background-color: #ff6600;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 3.5px solid #983901;
    box-shadow: #ffffff 0px 0px 2px 2px, #85a6bc 0px 0px 2px 4.5px, #ffc700 3px 3px 2px 0px inset;
}

#modalerro h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    line-height: 30px;
    max-width: 400px;
    margin: 0;
}

#modalerro button {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 250px;
    height: 80px;
    background-color: #ff6600;
    border: 3.5px solid #983901;
    border-radius: 25px;
    box-shadow: #ffc700 2px 2px 3px 1px, #ffc700 2px 1.3px 3px 0px inset;
}

#modalerro button:hover {
    scale: 0.970;
    cursor: pointer;
}

#mostrador {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 68px;
}

#mostrador img {
    height: 100%;
}

#mostrador h2 {
    font-family: BurbankBig;
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
    letter-spacing: 0.8px;
    color: white;
}

#divbotao {
    position: absolute;
    bottom: 75px;
    left: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#botaofotos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #1276da;
    box-shadow:#003366 0px 2px 0px 3px, #00529b -3px -2px 0px 3.5px, #00bbee 2.5px 4px 0px 3.5px, #00c7fa 2px 2px 0px 0.5px inset;
}

#botaofotos img {
    width: 25px;
}

#botaofotos:hover {
    cursor: pointer;
    scale: 1.1;
}

#h2fotos {
    margin: 0;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#h2nome {
    position: absolute;
    top: 38px;
    width: 418px;
    max-width: 418px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
}